.home-bg {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(images/banner1.jpg);
}

.heading-section .subheading {
  color: #181d29;
}

.login-bg {
  background: url(images/login-bg.jpg);
  background-size: cover;
}

.admin-bg {
  background: url(images/admin.jpg);
  background-size: cover;
}

section.interests,
section.player {
  background: #181d29;
}

nav {
  background-color: transparent;
  transition: background-color 1s ease 0s;
  box-shadow: none;
}

nav.solid {
  background-color: #ffffff;
  box-shadow: 0 0 6px #223d41;
  transition: background-color 1s ease 0s;
}

.navbar-brand {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.show {
  visibility: visible;
  opacity: 1;
}

h1 .wareplan {
  font-weight: 500;
  text-align: center;
}

.textPlastic {
  margin-left: 100px;
  margin-right: 100px;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  padding: 0px;
  margin: 25px;
}

.text-space {
  letter-spacing: -0.6px;
}

.text-bright {
  color: #fffcee;
}

.text-dark {
  color: #181d29;
}

.table .thead-primary {
  background: #181d29;
}

.btn.btn-primary {
  background: #181d29;
  border: 1px solid #181d29;
}

.btn.btn-primary:hover {
  border: 1px solid #181d29;
  color: #181d29;
}

.btn-primary:focus,
.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(24, 29, 41, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(24, 29, 41, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #181d29;
  border-color: #181d29;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #181d29;
  border-color: #181d29;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(24, 29, 41, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(24, 29, 41, 0.5);
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Start Footer */
footer {
  background: #181d29;
  color: white;
  margin-top: 100px;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoTwitter:hover {
  background-color: #38bdff;
}

.social-network a.icoYoutube:hover {
  background-color: #e62424;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoYoutube:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

/* End Footer */
